crm-app.pressone.co, web.pressone.africa {
    root * /var/www/html/dist
    encode gzip
    try_files {path} {file} /index.html
    file_server
}

tls pressone-crm@pressone.co {
    ca https://acme.zerossl.com/v2/DV90
}