/*
File: Custom Css File
*/
.btn-success, .btn-primary {
    background-color: #0E99D2 !important;
    border-color: #0E99D2 !important;
}
.btn-success:disabled, .btn-primary:disabled {
    background-color: #12698c !important;
    border-color: #12698c !important;
}
.btn-success:hover, .btn-primary:hover {
    background-color: #12698c !important;
    border-color: #12698c !important;
}
.btn-green {
    background-color: #45CB85;
    border-color: #45CB85;
}
.btn-green:disabled {
    opacity: 0.65;
}
.btn-green:hover {
    background-color: #3bad71;
    border-color: #37a26a;
}
.btn-soft-green, 
.btn-soft-green:active {
    color: #45cb85!important;
    background-color: rgb(69 203 133 / 10%)!important;
    border-color: transparent!important;
}
.btn-soft-green:hover {
    color: #fff!important;
    background-color: #45cb85!important;
    border-color: transparent!important;
}
.bg-primary {
    background-color: #F3BF24 !important;
}
.bg-soft-primary {
    background-color: rgba(18, 105, 140, 0.18) !important;
    color: #12698c !important;
}
.btn-soft-success {
    background-color: rgba(18, 105, 140, 0.18) !important;
    color: #12698c !important;
    border-color: transparent;
}
.btn-soft-success:hover {
    background-color: rgba(18, 105, 140, 0.7) !important;
    color: #fff !important;
    border-color: transparent;
}
.badge-label.bg-primary:before {
    border-right-color: #F3BF24 !important;
}
.badge-soft-primary{
    color: #F3BF24 !important;
    background-color: rgba(244, 192, 37, 0.1) !important;
}
.bg-secondary{
    background-color: #12698c !important;
}
.navbar-menu{
    background-color: #072633 !important;
}
.text-primary {
    color: #12698c !important;
}
.text-success, .link-success{
    color:#0E99D2 !important;
}
.text-green {
    color: #30A059 !important;
}
.link-success:hover{
    color:#12698c !important;
}
td>a{
    color:#0E99D2;
}
td>a:hover{
    color:#12698c;
}
.auth-bg-cover>.bg-overlay{
    background-color: #12698c !important;
}
.auth-one-bg .bg-overlay{
    background: linear-gradient(to right, #0d3747, #0b1b23) !important;
}
.form-control:focus{
    border-color:#12698c !important;
}
.form-check-input:checked {
    background-color: #12698c !important;
    border-color: #12698c !important;
}
.page-content{
    background-color: #f2f2f7 !important;
}
body {
    background-color: #072633 !important;
}
html {
    background-color: #f2f2f7 !important
}
.accordion-button:not(.collapsed){
    color: #0E99D2 !important;
}
