/*
File: Custom Css File
*/
.btn-success, .btn-primary {
    background-color: #0E99D2 !important;
    border-color: #0E99D2 !important;
}
.btn-success:disabled, .btn-primary:disabled {
    background-color: #12698c !important;
    border-color: #12698c !important;
}
.btn-success:hover, .btn-primary:hover {
    background-color: #12698c !important;
    border-color: #12698c !important;
}
.bg-primary {
    background-color: #F3BF24 !important;
}
.bg-soft-primary {
    background-color: rgba(18, 105, 140, 0.18) !important;
    color: #12698c !important;
}
.badge-label.bg-primary:before {
    border-right-color: #F3BF24 !important;
}
.badge-soft-primary{
    color: #F3BF24 !important;
    background-color: rgba(244, 192, 37, 0.1) !important;
}
.bg-secondary{
    background-color: #12698c !important;
}
.navbar-menu{
    background-color: #072633 !important;
}
.text-primary {
    color: #12698c !important;
}
.text-success, .link-success{
    color:#0E99D2 !important;
}
.link-success:hover{
    color:#12698c !important;
}
td>a{
    color:#0E99D2;
}
td>a:hover{
    color:#12698c;
}
.auth-bg-cover>.bg-overlay{
    background-color: #12698c !important;
}
.auth-one-bg .bg-overlay{
    background: linear-gradient(to right, #0d3747, #0b1b23) !important;
}